@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-sans: "DM Sans";
    --font-poppins: "Poppins";
    --clr-aqua: #00adb5;
    --clr-white: #ffffff;
    --clr-dark: #010101;
    --weight-primary: 400;
    --weight-secondary: 700;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    height: 0.7rem;
    /* scrollbar-width : unset; */
}

::-webkit-scrollbar-thumb{
    background-color: var(--clr-aqua);
    border-radius: 0.7rem;
    scrollbar-width: 50px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}


#table_contianer {
    font-family: var(--font-poppins)!important;
    background: var(--clr-dark)!important;
}

.header_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.header_container h3 {
    font-size: 2.5rem;
    font-weight: var(--weight-secondary);
    color: var(--clr-aqua);
}

.header_container h3 span {
    color: var(--clr-white);
}

.table_container_div {
    border-radius: 1.2rem;
    box-shadow: 2px 2px 15px 0 var(--clr-aqua);
}

.table_container_div table {
    text-align: center;
    background-color: var(--clr-dark)!important;
    border: none;
}

.table_container_div table th {
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: var(--clr-dark);
    color: var(--clr-aqua);
    border-bottom: 0.1px solid var(--clr-aqua);
    border-right: 0.1px solid var(--clr-aqua);
}

.table_container_div table tr td {
    font-size: 1rem;
    color: white;
    box-shadow: none;
    border-bottom: 0.1px solid var(--clr-aqua);
    border-right: 0.1px solid var(--clr-aqua);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 510px) {
    ::-webkit-scrollbar{
        height: 0.5rem;
        /* scrollbar-width : unset; */
    }

    .table_container_div {
       
        margin-left: -26px;
        margin-right: -26px;
  }
}

h3{
    text-align: center;
}

.score{
    color:var(--clr-aqua);
}
